.code {
  margin-top: 3vmin;
  font-size: .75rem;
}

.code--content {
  background: black;
  color: white;
  padding: .5em 1em;
  min-width: 50%;
}

.code--caption {
  text-align: left;
  font-size: .5rem;
  margin-top: .5em;
}
